In [3]:
import pandas as pd

df = pd.read_csv(r'D:\Purdue\SecAna\Assignment 1 attached files Sep 8, 2022 540 PM\adult.data.csv', index_col=None)

In [4]:
print(df.head(3))
print(df.columns)

   age          workclass   fnlwgt   education   education-num  \
0   39          State-gov    77516   Bachelors              13
1   50   Self-emp-not-inc    83311   Bachelors              13
2   38            Private   215646     HS-grad               9

        marital-status          occupation    relationship    race    sex  \
0        Never-married        Adm-clerical   Not-in-family   White   Male
1   Married-civ-spouse     Exec-managerial         Husband   White   Male
2             Divorced   Handlers-cleaners   Not-in-family   White   Male

    capital-gain   capital-loss   hours-per-week  native-country  salary
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [5]:
male = len(df[df[" sex"] == ' Male'])
print(f"The number of male memebers are {male}")
female = len(df[df[' sex'] == ' Female'])
print(f"The number of female memebers are {female}")

The number of male memebers are 21790
The number of female memebers are 10771

In [6]:
dfw = df[df[' sex']==' Female']
avg_age_w = dfw['age'].mean()
print(f"The average age of women is {avg_age_w:.2f}")

The average age of women is 36.86

In [7]:
german = len(df[df[' native-country']==' Germany'])
#print(german)
df.groupby(" native-country").size()
perc = german/(len(df)-583)
perc = perc*100
print(f"The percentage of germans is {perc:.2f}")

The percentage of germans is 0.43

In [8]:
dfg50 = df[df[' salary']==' >50K']
dfl50 = df[df[' salary']==' <=50K']
print(f"The mean and standard deviation of age for people earning more than 50K are {dfg50['age'].mean():.2f} and {dfg50['age'].std():.2f}")
print(f"The mean and standard deviation of age for people earning less than 50K are {dfl50['age'].mean():.2f} and {dfl50['age'].std():.2f}")

The mean and standard deviation of age for people earning more than 50K are 44.25 and 10.52
The mean and standard deviation of age for people earning less than 50K are 36.78 and 14.02

In [9]:
dfg50.groupby(" education").size()
print("No it's not true. Some do not have high school education")

No it's not true. Some do not have high school education

In [10]:
dfr = df.groupby(" race")
dfr["age"].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [11]:
dfg = df.groupby(' sex')
dfg["age"].describe()

           count       mean        std   min   25%   50%   75%   max
 sex
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [17]:
dfh = df[' hours-per-week']
print(f"The maximum no. of hours a person works per week is {dfh.max()}")
print(f"The number of persons that work {dfh.max()} hours per week is {len(dfh[dfh == dfh.max()])}")
print(f"The percentage of people earning more than 50K is {(len(dfg50[dfg50[' hours-per-week'] == 99])*100/len(dfh[dfh == dfh.max()])):.2f}")

The maximum no. of hours a person works per week is 99
The number of persons that work 99 hours per week is 85
The percentage of people earning more than 50K is 29.41

In [14]:
dfc = dfg50.groupby(" native-country")
dfc[" hours-per-week"].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,146.0,45.547945,10.202827,8.0,40.00,40.0,50.00,80.0
Cambodia,7.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Canada,39.0,45.641026,12.066673,20.0,40.00,45.0,51.00,72.0
China,20.0,38.900000,10.125008,10.0,38.00,40.0,41.25,60.0
Columbia,2.0,50.000000,0.000000,50.0,50.00,50.0,50.00,50.0
Cuba,25.0,42.440000,12.453514,14.0,40.00,40.0,50.00,60.0
Dominican-Republic,2.0,47.000000,9.899495,40.0,43.50,47.0,50.50,54.0
Ecuador,4.0,48.750000,2.500000,45.0,48.75,50.0,50.00,50.0
El-Salvador,9.0,45.000000,7.071068,35.0,40.00,45.0,50.00,55.0
England,30.0,44.533333,11.072592,20.0,40.00,40.0,50.00,85.0
France,12.0,50.750000,16.360290,40.0,40.00,47.5,50.00,99.0
Germany,44.0,44.977273,11.944618,8.0,40.00,45.0,50.00,70.0
Greece,8.0,50.625000,11.783008,35.0,40.00,50.0,61.25,65.0
Guatemala,3.0,36.666667,5.773503,30.0,35.00,40.0,40.00,40.0
Haiti,4.0,42.750000,9.142392,35.0,38.75,40.0,44.00,56.0
Honduras,1.0,60.000000,NaN,60.0,60.00,60.0,60.00,60.0
Hong,6.0,45.000000,10.000000,40.0,40.00,40.0,43.75,65.0
Hungary,3.0,50.000000,10.000000,40.0,45.00,50.0,55.00,60.0
India,40.0,46.475000,10.056220,20.0,40.00,41.5,50.00,72.0
Iran,18.0,47.500000,10.325582,30.0,40.00,45.0,53.75,70.0
Ireland,5.0,48.000000,10.954451,40.0,40.00,40.0,60.00,60.0
Italy,25.0,45.400000,9.495613,20.0,40.00,40.0,50.00,67.0
Jamaica,10.0,41.100000,4.954235,35.0,38.50,40.0,40.00,50.0
Japan,24.0,47.958333,16.120414,21.0,40.00,42.5,50.00,99.0
Laos,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Mexico,33.0,46.575758,10.917390,30.0,40.00,40.0,50.00,80.0
Nicaragua,2.0,37.500000,3.535534,35.0,36.25,37.5,38.75,40.0
Peru,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Philippines,61.0,43.032787,8.445842,35.0,40.00,40.0,40.00,80.0
Poland,12.0,39.000000,9.779385,10.0,40.00,40.0,40.00,50.0
Portugal,4.0,41.500000,5.972158,36.0,39.00,40.0,42.50,50.0
Puerto-Rico,12.0,39.416667,11.057357,8.0,40.00,40.0,42.50,50.0
Scotland,3.0,46.666667,11.547005,40.0,40.00,40.0,50.00,60.0
South,16.0,51.437500,10.942082,35.0,40.00,50.0,60.00,70.0
Taiwan,20.0,46.800000,13.485275,27.0,40.00,40.0,55.00,84.0
Thailand,3.0,58.333333,14.433757,50.0,50.00,50.0,62.50,75.0
Trinadad&Tobago,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
United-States,7171.0,45.505369,11.025092,1.0,40.00,40.0,50.00,99.0
Vietnam,5.0,39.200000,1.788854,36.0,40.00,40.0,40.00,40.0
Yugoslavia,6.0,49.500000,11.202678,40.0,40.00,46.0,58.00,65.0

In [15]:
dfc = dfl50.groupby(" native-country")
dfc[" hours-per-week"].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,437.0,40.164760,12.817002,1.0,40.00,40.0,45.00,99.0
Cambodia,12.0,41.416667,3.088346,40.0,40.00,40.0,40.50,50.0
Canada,82.0,37.914634,13.012056,8.0,32.75,40.0,40.00,70.0
China,55.0,37.381818,11.439844,1.0,36.00,40.0,40.00,60.0
Columbia,57.0,38.684211,8.610952,5.0,40.00,40.0,40.00,60.0
Cuba,70.0,37.985714,9.960055,5.0,40.00,40.0,40.00,70.0
Dominican-Republic,68.0,42.338235,11.121594,22.0,40.00,40.0,40.00,98.0
Ecuador,24.0,38.041667,10.251105,22.0,30.00,40.0,40.00,66.0
El-Salvador,97.0,36.030928,9.396867,3.0,32.00,40.0,40.00,60.0
England,60.0,40.483333,15.177472,7.0,40.00,40.0,45.00,99.0
France,17.0,41.058824,12.401969,15.0,40.00,40.0,50.00,66.0
Germany,93.0,39.139785,12.121299,6.0,38.00,40.0,45.00,70.0
Greece,21.0,41.809524,16.857103,4.0,40.00,40.0,55.00,75.0
Guatemala,61.0,39.360656,6.570218,18.0,40.00,40.0,40.00,60.0
Haiti,40.0,36.325000,11.943000,10.0,30.00,40.0,40.00,75.0
Holand-Netherlands,1.0,40.000000,NaN,40.0,40.00,40.0,40.00,40.0
Honduras,12.0,34.333333,8.626949,17.0,30.00,37.5,40.00,45.0
Hong,14.0,39.142857,4.294131,30.0,37.75,40.0,40.00,50.0
Hungary,10.0,31.300000,18.595400,3.0,20.00,30.0,47.50,60.0
India,60.0,38.233333,12.617403,8.0,35.00,40.0,40.00,84.0
Iran,25.0,41.440000,12.440123,6.0,40.00,40.0,48.00,65.0
Ireland,19.0,40.947368,7.183884,25.0,38.00,40.0,42.00,55.0
Italy,48.0,39.625000,15.090683,6.0,38.75,40.0,40.00,80.0
Jamaica,71.0,38.239437,9.673919,10.0,35.00,40.0,40.00,70.0
Japan,38.0,41.000000,11.902759,10.0,40.00,40.0,41.50,65.0
Laos,16.0,40.375000,4.112988,31.0,40.00,40.0,40.00,50.0
Mexico,610.0,40.003279,10.377441,4.0,40.00,40.0,40.00,99.0
Nicaragua,32.0,36.093750,8.663454,11.0,30.00,40.0,40.00,60.0
Outlying-US(Guam-USVI-etc),14.0,41.857143,10.747859,24.0,36.25,40.0,50.25,60.0
Peru,29.0,35.068966,11.609513,4.0,28.00,40.0,40.00,60.0
Philippines,137.0,38.065693,11.265646,8.0,40.00,40.0,40.00,99.0
Poland,48.0,38.166667,12.237600,3.0,40.00,40.0,40.00,65.0
Portugal,33.0,41.939394,9.062075,30.0,40.00,40.0,40.00,84.0
Puerto-Rico,102.0,38.470588,9.745988,6.0,36.00,40.0,40.00,80.0
Scotland,9.0,39.444444,9.166667,20.0,40.00,40.0,40.00,55.0
South,64.0,40.156250,16.831771,4.0,35.00,40.0,48.50,99.0
Taiwan,31.0,33.774194,14.270505,2.0,20.00,40.0,40.00,60.0
Thailand,15.0,42.866667,20.413114,10.0,35.00,40.0,52.50,80.0
Trinadad&Tobago,17.0,37.058824,12.477332,14.0,35.00,40.0,40.00,60.0
United-States,21999.0,38.799127,12.400570,1.0,35.00,40.0,40.00,99.0
Vietnam,62.0,37.193548,12.422664,1.0,40.00,40.0,40.00,77.0
Yugoslavia,10.0,41.600000,11.305849,20.0,40.00,40.0,40.00,66.0

In [16]:
print(f"The average number of hours people earning more than 50k work in Japan is 47.95")
print(f"The average number of hours people earning less than 50k work in Japan is 41.0")

The average number of hours people earning more than 50k work in Japan is 47.95
The average number of hours people earning less than 50k work in Japan is 41.0